In [1]:
import pandas as pd

In [28]:
df = pd.read_csv('forest_area.csv')

In [58]:
df.head()

,County code and name,Total,Red pine,Eastern white pine,Balsam fir,White spruce,Black spruce,Tamarack,Northern white-cedar,Eastern redcedar,...,Oak,Northern hardwoods,Lowland hardwoods,Cottonwood / Willow,Aspen,Birch,Balsam poplar,Non stocked,Other,Unnamed: 20
0,36001 NY Albany,206622.0,5.704413e-11,5.367612e-10,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,...,2.690211e-10,9.463748e-10,2.243449e-10,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1779.00,18444.0,0.0
1,36021 NY Columbia,201996.0,0.000000e+00,1.352234e-10,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,...,7.960404e-10,6.331293e-10,1.211247e-10,0.000000e+00,0.000000e+00,6.349250e-11,0.0,3116.00,54728.0,0.0
2,36025 NY Delaware,724070.0,0.000000e+00,9.493340e-12,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,...,7.351951e-12,1.548211e-10,1.510484e-12,0.000000e+00,5.352813e-13,0.000000e+00,0.0,4728.00,59908.0,0.0
3,36027 NY Dutchess,273216.0,0.000000e+00,3.900023e-11,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,...,5.107932e-10,2.946003e-10,1.633509e-10,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1318.00,66370.0,0.0
4,36031 NY Essex,1056561.0,1.286519e-12,7.862402e-12,3.378067e-12,0.0,0.0,0.0,1.129329e-12,0.0,...,3.389089e-12,5.687444e-11,0.000000e+00,1.446423e-13,1.062688e-12,4.147317e-12,0.0,878.00,120669.0,0.0

In [36]:
df = df.mask(df == '-')
df = df.fillna(0)

In [47]:
df['Total'] = df['Total'].apply(lambda x: float(x.split()[0].replace(',', '')))

In [48]:
df['Total'] = df['Total'].astype('float')

In [41]:
columns = ['Red pine', 'Eastern white pine',
       'Balsam fir', 'White spruce', 'Black spruce', 'Tamarack',
       'Northern white-cedar', 'Eastern redcedar', 'Other softwoods', 'Oak',
       'Northern hardwoods', 'Lowland hardwoods', 'Cottonwood / Willow',
       'Aspen', 'Birch', 'Balsam poplar']

In [42]:
for column in columns:
    df[column] = df[column].astype('float')

In [56]:
df.head()

,County code and name,Total,Red pine,Eastern white pine,Balsam fir,White spruce,Black spruce,Tamarack,Northern white-cedar,Eastern redcedar,...,Oak,Northern hardwoods,Lowland hardwoods,Cottonwood / Willow,Aspen,Birch,Balsam poplar,Non stocked,Other,Unnamed: 20
0,36001 NY Albany,206622.0,5.704413e-11,5.367612e-10,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,...,2.690211e-10,9.463748e-10,2.243449e-10,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1779.00,18444.0,0.0
1,36021 NY Columbia,201996.0,0.000000e+00,1.352234e-10,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,...,7.960404e-10,6.331293e-10,1.211247e-10,0.000000e+00,0.000000e+00,6.349250e-11,0.0,3116.00,54728.0,0.0
2,36025 NY Delaware,724070.0,0.000000e+00,9.493340e-12,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,...,7.351951e-12,1.548211e-10,1.510484e-12,0.000000e+00,5.352813e-13,0.000000e+00,0.0,4728.00,59908.0,0.0
3,36027 NY Dutchess,273216.0,0.000000e+00,3.900023e-11,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,...,5.107932e-10,2.946003e-10,1.633509e-10,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1318.00,66370.0,0.0
4,36031 NY Essex,1056561.0,1.286519e-12,7.862402e-12,3.378067e-12,0.0,0.0,0.0,1.129329e-12,0.0,...,3.389089e-12,5.687444e-11,0.000000e+00,1.446423e-13,1.062688e-12,4.147317e-12,0.0,878.00,120669.0,0.0

In [55]:
for column in columns:
    df[column] = (df[column] / df['Total'])

In [54]:
df.head()

,County code and name,Total,Red pine,Eastern white pine,Balsam fir,White spruce,Black spruce,Tamarack,Northern white-cedar,Eastern redcedar,...,Oak,Northern hardwoods,Lowland hardwoods,Cottonwood / Willow,Aspen,Birch,Balsam poplar,Non stocked,Other,Unnamed: 20
0,36001 NY Albany,206622.0,0.000012,0.000111,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.000056,0.000196,0.000046,0.000000e+00,0.000000e+00,0.000000,0.0,1779.00,18444.0,0.0
1,36021 NY Columbia,201996.0,0.000000,0.000027,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.000161,0.000128,0.000024,0.000000e+00,0.000000e+00,0.000013,0.0,3116.00,54728.0,0.0
2,36025 NY Delaware,724070.0,0.000000,0.000007,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.000005,0.000112,0.000001,0.000000e+00,3.875811e-07,0.000000,0.0,4728.00,59908.0,0.0
3,36027 NY Dutchess,273216.0,0.000000,0.000011,0.000000,0.0,0.0,0.0,0.000000,0.0,...,0.000140,0.000080,0.000045,0.000000e+00,0.000000e+00,0.000000,0.0,1318.00,66370.0,0.0
4,36031 NY Essex,1056561.0,0.000001,0.000008,0.000004,0.0,0.0,0.0,0.000001,0.0,...,0.000004,0.000060,0.000000,1.528234e-07,1.122795e-06,0.000004,0.0,878.00,120669.0,0.0